{% extends "index.html"%}
{% block content %} 
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ team.name }}
			{% if login_session.get('credentials') is not none %}
			<figure class="creator">
				<br/>
				<p style = "font-size: 24px">{{user.name}}&nbsp&nbsp<img src= ' {{login_session['picture']}} ' style = "width: 30px; height: 30px;border-radius: 5px;-webkit-border-radius: 15px;-moz-border-radius: 5px;"></p>
			</figure>
			{% endif %}
			</h1>
		</div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		{% if login_session.get('credentials') is not none %}
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editTeam', team_ID = team.id )}}">
				<button class="btn btn-default" id="edit">Edit Team</button>
			</a>
			<a href="{{url_for('addNewPlayer', team_ID = team.id )}}">
				<button class="btn btn-default" id="new-player">Add New Player</button>
			</a>
				<button class="btn btn-default delete" id="delete" onclick="myFunction('Are you sure to delete this team?','{{url_for('deleteTeam', team_ID = team.id )}}')" >Delete Team</button>
		</div>
		{% endif %}
		<div class="col-md-7"></div>
	</div>
	{% if players !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				{% for player in players %}
						<div class="menu-item">
							<h3>{{player.name}}</h3>
							<p>Description: {{player.description}}</p>
							<p class="menu-Salary">Salary: {{player.salary}}$</p>
							{% if login_session.get('credentials') is not none %}
							<button  onclick="window.location.replace('{{url_for('editPlayer', team_ID = team.id, player_ID=player.id ) }}')">Edit</button>
							&nbsp
							<button  onclick="myFunction('Are you sure to delete this player?','{{url_for('deletePlayer', team_ID = team.id, player_ID=player.id ) }}')">Delete</button>
							{% endif %}
						</div>
				{% endfor %}
			</div>
		</div>

	{% endif %}
{% endblock %}
